<% if (user) { %>
  <div class="add-record">
    <form action="/records" method="POST">
      <label>Title:
        <input type="text" name="title" placeholder="The Dark Side of the Moon" autocomplete="off">
      </label>
      <label>Artist:
        <input type="text" name="artist" placeholder="Pink Floyd" autocomplete="off">
      </label>
      <button type="submit">Add Record</button>
    </form>
  </div>
<% } %>