<% if (user) { %>
  <div class="add-record">
    <h2>Add a Record!</h2>
    <form action="/records" method="POST">
      <label>Title:
        <input type="text" name="title" placeholder="Dark Side of the Moon" autocomplete="off">
      </label>
      <label>Artist:
        <input type="text" name="artist" placeholder="Pink Floyd" autocomplete="off">
      </label>
      <label>Year:
        <input type="number" name="year" placeholder="1973" autocomplete="off">
      </label>
      <label>Single:
        <input type="text" name="single" placeholder="Money" autocomplete="off">
      </label>
      <button type="submit">Add Record</button>
    </form>
  </div>
<% } %>