<div class="add-instructions">
  <p><strong>Hey you!</strong> VYNL is still in it's earliest stages of development. Adding a record requires exact spelling (but is case INsensitive). If you get redirected here after attempting to add a record, one of two things just happened:<br><br>1: That album has already been added by another user.<br>2: You spelled something wrong! Go explore VYNL, or try again!</p>
</div>