<div class="instructions">
  <p><strong>HOT TIPS</strong> Adding a record requires exact spelling (but is case INsensitive). If you get redirected here after attempting to add a record, one of two things just happened:<br><br>1: That album has already been added by another user - Go explore VYNL!<br>2: You spelled something wrong - try again!</p>
</div>