<div class="profiles-info">
  <p>Here are all the people that have gotten this far! You're probably at the 
    <a onclick="<% window.scrollTo(0, document.body.scrollHeight) %>">
      bottom.
    </a>
  </p>
</div>