nav {
  background-color: hotpink;
  color: #1a1a1a;
  /* display: flex;
  align-items: center; */
  padding: 10px;
  min-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-spacer {
  height: 70px;
}

#logo {
  position: absolute;
  margin-top: -7px;
}

/* CENTER */

.nav-links {
  display: flex;
  justify-content: center;
}

/* STUCK ON RIGHT */

.profile-options {
  float: right;
  margin-top: -28px;
}

.nav-records-new {
  padding: 0 30px;
}

.g_id_signin {
  float: right;
  margin-top: -30px;
}

.right button {
  background-color: rgb(20,20,20);
  color: white;
  border: none;
  border-radius: 5%;
}