.profile-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile-card {
  background-color: rgb(50,50,50);
  width: 250px;
  height: 200px;
  margin: 10px;

  border: 10px solid rgb(0, 0, 0);
  border-radius: 5%;
}

.follow-toggle {
  margin-top: -172px;
  display: flex;
  justify-content: flex-end;
}

.follow-toggle form button {
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.profile-avatar {
  display: flex;
  align-items: center;

  :first-child {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    border: 4px solid white;
    border-radius: 10%;
  }

  :last-child {
    font-size: clamp(50%, 40px, 100%);
  }
}

.profile-stats {
  display: flex;
  justify-content: space-evenly;
}

.profile-followers, .profile-following {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-show-card {
  display: flex;
  justify-content: center;
}