.record-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.record-card {
  background-color: grey;
  min-width: 250px;
  max-width: 250px;
}

.record-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* right: 0; */
}
