.record-cards {
  /* SWITCH TO GRID */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.record-card {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 250px;
  max-width: 250px;
  margin: 10px;

  border: 10px solid rgb(0, 0, 0);
  border-radius: 5%;
  background-color: black;
}

.like-record {
  position: absolute;
  margin-left: -224px;
  margin-top: -22px;
}

.like-toggle {
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  background-color: black;
}

form {
  cursor: pointer;
}

.record-art img {
  border-radius: 5%;
}

.record-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 0;

  padding: 4px;
  border-radius: 10%;

  background-color: rgba(0, 0, 0, 0.5);
}

.record-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  background-color: rgba(0, 0, 0, 0.5);

  h2 {
    font-size: clamp(50%, 40px, 100%);
  }
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}